services:
  frontend:
    build: ./frontend
    ports:
      - "30080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://chatbot:chatbot123@database:5432/chatbot_db

  database:
    build: ./database
    environment:
      - POSTGRES_DB=chatbot_db
      - POSTGRES_USER=chatbot
      - POSTGRES_PASSWORD=chatbot123
    volumes:
      - chatbot_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  chatbot_data:
